@page
@model PrivacyModel
@{
    ViewData["Title"] = "Produit";
}

@* ***************************************** Formulaire du produit********************** *@

<!--begin::App Main-->
<main class="app-main">

    @* *****************************Partie Hearder de la page pricipale***************************** *@
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <!--begin::Col-->
                <div class="col-sm-6"><h3 class="mb-0">Ajoutrez un produit</h3></div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    @* *****************************END Partie Hearder de la page pricipale***************************** *@





    <!--begin::App Content-->
    <div class="app-content">
    </div>
</main>
<!--end::App Main-->
